.contents
  .about_this
    %h1 About this
    %p 簡易的なwikiページです

  .last_info
    .last_created
      %p.last_created__title 最近作成されたページ
      .last_created__list
        %table.last_created__list--page
          %tr
            %td.last_created__list--title ページ
            %td.last_created__list--time 作成日時
          - @pages.each do |page|
            %tr
              %td
                = link_to page.title ,page_path(page.id)
              %td
                = page.created_at.strftime("%Y/%m/%d %H:%M")

    .last_updated
      %p.last_updated__title 最近更新されたページ
      .last_updated__list
        %table.last_updated__list--page
          %tr
            %td.last_updated__list--title ページ
            %td.last_updated__list--topic 編集された項目
            %td.last_updated__list--time 更新日時

          - @contents.each do |content|
            %tr
              %td
                = link_to content.title ,page_path(content.page_id)
              %td
                = content.topic
              %td
                = content.updated_at.strftime("%Y/%m/%d %H:%M")

    .last_comments
      %p.last_comments__title 最近追加されたコメント
      .last_comments__list
        %table.last_comments__list--page
          %tr
            %td.last_comments__list--title ページ
            %td.last_comments__list--comment コメント
            %td.last_comments__list--time 投稿日時
          - @comments.each do |comment|
            %tr
              %td
                = link_to comment.title ,page_path(comment.page_id)
              %td
                = comment.comment[0,30]
              %td
                = comment.created_at.strftime("%Y/%m/%d %H:%M")