.form#content_number
  = form_with(model: [@page,@content], local: true) do |form|
    = form.text_field :topic, placeholder: @content.topic,class:"form__topic"
    = form.text_area :body, placeholder: @content.body,class:"form__body",size: ("115x15")
    = form.label :image,"file",class:"form__image" do
      ファイルを選択
      = form.file_field :image,class:"form__image--hidden"
    = form.label :sort do
      = form.number_field :sort, placeholder: @content.sort,max: @content.sort,class:"form__sort"
      番目に表示
    = form.submit "UPDATE",class:"form__update-btn"
  = link_to '削除',page_content_path(@page.id, @content.id), method: :delete,class:"form__delete-btn"