.new
  = form_with(model: [@page,@content], local: true) do |form|
    = form.text_field :topic, placeholder: "トピックスを入力",class:"new__topic"
    = form.text_area :body, placeholder: "内容を入力して下さい",class:"new__body",size:"100x15"
    = form.label :image,class:"new__image" do
      ファイルを選択
      サムネイルを表示したい
      = form.file_field :image, placeholder:"",class:"new__image--hidden"
    = form.label :sort,class:"new__sort" do
      = form.number_field :sort, placeholder:"",class:"new__sort"
      番目に表示
    = form.submit "SEND"