.form#content_new
  = form_with(model: [@page,@content], local: true) do |form|
    = form.text_field :topic, placeholder: "トピックスを入力",class:"form__topic"
    = form.text_area :body, placeholder: "内容を入力して下さい",class:"form__body",size:("115x15")
    = form.label :image,class:"form__image" do
      ファイルを選択
      = form.file_field :image, placeholder:"",class:"form__image--hidden"
    = form.label :sort do
      = form.number_field :sort, placeholder:"",min:"1",max:@content.sort,class:"form__sort"
      番目に表示
    = form.submit "SEND",class:"form__create-btn"
    %button.form__cancel-btn
      cancel
