-if user_signed_in?
  .new
    .h3
      新規ページを作成する
    = form_with(model: @page, local: true) do |form|
      = form.text_field :title, placeholder: "ページのタイトルを入力",class:"new__title"
      = form.text_area :summary, placeholder: "要約文を入力して下さい",class:"new__summary",size:"100x15"
      = form.file_field :image, placeholder: "イメージを選択して下さい",class:"new__image"
      = form.submit "SEND"
-else
  .new_page__need_login
  新規ページ作成にはログインが必要です。
  =link_to "ログイン", new_user_session_path, class: 'side_bar__menu--list'
  =link_to "トップに戻る", root_path, class: 'side_bar__menu--list'