-if user_signed_in?
  .new
    .h3 新規ページを作成する
    = form_with(model: @page, local: true) do |form|
      = form.text_field :title, placeholder: "ページのタイトルを入力",class:"new__title"
      = form.text_area :summary, placeholder: "要約文を入力して下さい",class:"new__summary",size:"100x15"
      = form.label :image,class:"new__image" do
        ファイルを選択
        サムネイルを表示したい
        = form.file_field :image,class:"new__image--hidden"
      = form.submit "SEND",class:"new__send-btn"
-else
  .new_page__need_login
    ページを作るにはログインが必要です。
    = link_to "ログイン", new_user_session_path, class: "new_page__need_login--login"
    = link_to "トップに戻る", root_path, class: "new_page__need_login--back"