.page
  .page__title
    .page__title--text
      = @page.title
    = link_to '編集',edit_page_path(@page.id),class: 'page__title--edit-btn'
  .page__summary
    = simple_format(@page.summary)
  .page__contents
    - @contents.each_with_index do |content,i|
      .page__contents__content{data: {content_id: i}}
        .page__contents__content__topic
          %h2.page__contents__content__topic--text
            = content.topic
          = link_to '編集',edit_page_content_path(content.id),class: 'page__contents__content__topic--edit-btn'
        .page__contents__content--body
          = simple_format(content.body)
  .page__add-btn
    追加
    -# .contents__content{data: {content_id: content.id}}
    -#   .contents__content--title
    -#     = @content.title
    -#   .contents__content--body
    -#     更新日
    -#     = @content.created_at.strftime("%Y/%m/%d %H:%M")
    -#   .contents__content--name
    -#     更新者
    -#     = @content.user.name

  .comments