.page
  .page__top
    .page__top__title
      .page__top__title--text
        = @page.title
      = link_to '編集',edit_page_path(@page.id),class: 'page__top__title--edit-btn',data:{page_id: @page.id}
    .page__top__summary
      = simple_format(@page.summary)
    = image_tag @page.image.url, class: 'page__top__image' if @page.image.present?
  .page__contents
    - @contents.each_with_index do |content,i|
      .page__contents__content{id: "content#{content.sort}"}
        .page__contents__content__topic
          %h2.page__contents__content__topic--text
            = content.topic
          = link_to '編集',edit_page_content_path(@page.id, content.id),class: 'page__contents__content__topic--edit-btn',data: {page_id: @page.id,content_id: content.id}
        .page__contents__content--body
          = simple_format(content.body)
        .page__image
        = image_tag content.image.url, class: 'page__contents__content--image' if content.image.present?
        .page__contents__content--user
          最終更新 ：
          = content.user.name
    = link_to '項目を追加',new_page_content_path(@page.id),class: 'page__contents__add-btn',data:{page_id: @page.id}
  .page__comments
    .page__comments__form
      = form_with(model: [@page,@comment], local: true) do |form|
        = form.text_area :comment, placeholder: "コメントを入力",class:"page__comments__form--text",size:("118x3")
        = form.submit "コメントする",class:"page__comments__form--send-btn"
    %h3.page__comments__title
      コメント
    %table.page__comments__table
      - @comments.each_with_index do |comment,i|
        %tr.page_comments__table--items{data:{comment_id: i}}
          %td.page__comments__table--comment 
            = simple_format(comment.comment)
          %td.page__comments__table--user
            = comment.user.name
          %td.page__comments__table--time
            = comment.created_at.strftime("%Y/%m/%d %H:%M")
          %td.page__comments__table--delete
            %button.page__comments__table--delete-btn
              = link_to 'DELETE',page_comment_path(@page.id,comment.id),method: :delete,data:{confirm:'このコメントを削除していいですか？',disable_with:'処理中...'}
