!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wikipedia
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .side_bar
      %h1.side_bar__title
        Simple wiki
      = form_with(url: searches_path, local: true, method: :get, class: "search-form") do |form|
        = form.text_field :keyword, placeholder: "キーワードで検索する", class: "search-input"
        = form.submit "検索", class: "search-btn"
      %ul.side_bar__menu
        =link_to 'メインページ',root_path, class:"side_bar__menu--list"
        =link_to '記事一覧',pages_path, class:"side_bar__menu--list"
        =link_to '新しいページ',new_page_path, class:"side_bar__menu--list"
        -if user_signed_in?
          = link_to "アカウント編集 / ログアウト",edit_user_path(current_user),class: 'side_bar__menu--list'
        -else
          =link_to "ログイン", new_user_session_path, class: 'side_bar__menu--list'
        =link_to '管理者用','#',class:'side_bar__menu--list'
        
    .main_page 
      -# .header
      -#   .search_form キーワードを入力してください
      -#   .search_btn 検索
      = yield